div.container.footer--container
  p Copyright &copy;&nbsp;
    a(href="https://github.com/ozluy", target="_blank") ePlatform
    |&nbsp;2017
    span.footer-github Find Us on
      a(href="https://github.com/ePlatformComTr")  Github
