.question-game{
  &__input{
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #aaa;
    font-family: Ubuntu;
    transition: all .3s ease;
    &:focus, &:active{
      outline: none;
      margin: 0 -15px;
      width: calc(100% + 30px);
    }
  }
  &__answer{
      &:before, &:after{
        width: 100%;
        display: table;
        content: ' ';
        clear: both;

    }
    &-text{
      font-size: 24px;
    }
    &-img{
      width: 50%;
    }
  }
}
